.container {
    display: flex;

    @include breakpoint(lg) {
        flex-direction: column;
    }
}

.card--sedan {
    @include card();
    background-color: $color-card-bg-sedan;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    @include breakpoint(lg) {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
}

.card--suv {
    @include card();
    background-color: $color-card-bg-suv;
}

.card--luxury {
    @include card();
    background-color: $color-card-bg-luxury;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    @include breakpoint(lg) {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}

.card__icon {
    align-self: flex-start;
}

.card__title {
    font-family: $font-family-card-title;
    font-size: $font-size-card-title;
    color: $color-card-title;
    text-transform: uppercase;
}

.card__paragraph {
    font-family: $font-family-card-paragraph;
    font-size: $font-size-card-paragraph;
    color: $color-card-paragraph;
}

.card__button {
    align-self: flex-start;
    margin-top: $padding-card-button-top;
    width: 75%;
    height: 3rem;
    font-size: $font-size-card-button;
    background-color: $color-card-bg-button;
    cursor: pointer;
    border-color: $color-card-bg-button;
    border-style: solid;
    border-radius: 2.5rem;

    @include breakpoint(lg) {
        margin-top: 1rem;
    }
}

.card__button--sedan {
    @extend .card__button;
    color: $color-card-bg-sedan;
}

.card__button--suv {
    @extend .card__button;
    color: $color-card-bg-suv;
}

.card__button--luxury {
    @extend .card__button;
    color: $color-card-bg-luxury;
}

.card__button:hover {
    background-color: transparent;
    color: $color-card-bg-button;
}