    // Variables
    $color-bg-primary: hsl(0, 0%, 95%);
    $color-card-bg-sedan: hsl(31, 77%, 52%);
    $color-card-bg-suv: hsl(184, 100%, 22%);
    $color-card-bg-luxury: hsl(179, 100%, 13%);
    $color-card-paragraph: hsla(0, 0%, 100%, 0.75);
    $color-card-title: hsl(0, 0%, 95%);
    $color-card-bg-button: hsl(0, 0%, 95%);

    $font-size-card-title: 2.5rem;
    $font-size-card-paragraph: 15px;
    $font-size-card-button: 15px;
    $font-family-card-title: 'Big Shoulders Display',
    cursive;
    $font-family-card-paragraph: 'Lexend Deca',
    sans-serif;

    $padding-card-button-top: 6rem;

    // Media Query variables
    $breakpoint-sm: 375px;
    $breakpoint-sm: 576px;
    $breakpoint-md: 768px;
    $breakpoint-lg: 992px;
    $breakpoint-xl: 1200px;
    $breakpoint-xxl: 1440px;

    // Mixins

    @mixin breakpoint($point) {
        @if $point==xsm {
            @media (max-width: $breakpoint-xsm) {
                @content;
            }
        }

        @else if $point==sm {
            @media (max-width: $breakpoint-sm) {
                @content;
            }
        }

        @else if $point==md {
            @media (max-width: $breakpoint-md) {
                @content;
            }
        }

        @else if $point==lg {
            @media (max-width: $breakpoint-lg) {
                @content;
            }
        }

        @else if $point==xl {
            @media (max-width: $breakpoint-xl) {
                @content;
            }
        }

        @else if $point==xxl {
            @media (max-width: $breakpoint-xxl) {
                @content;
            }
        }

        @else {
            @media (max-width: '#{$point}') {
                @content
            }
        }
    }

    @mixin card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 1rem;
        width: 300px;
        padding: 3rem;
    }