    // Variables
    $color-bg-primary: hsl(0, 0%, 95%);
    $color-card-bg-sedan: hsl(31, 77%, 52%);
    $color-card-bg-suv: hsl(184, 100%, 22%);
    $color-card-bg-luxury: hsl(179, 100%, 13%);
    $color-card-text: hsl(0, 0%, 95%);
    $color-card-bg-button: hsl(0, 0%, 95%);

    $font-size-card-title: 2.5rem;
    $font-size-card-paragraph: 15px;
    $font-family-card-title: 'Big Shoulders Display',
    cursive;
    $font-family-card-paragraph: 'Lexend Deca',
    sans-serif;

    $padding-card-icon-bottom: 1rem;
    $padding-card-title-bottom: 1rem;
    $padding-card-paragraph-bottom: 6rem;


    // Mixins

    @mixin card {
        display: flex;
        flex-direction: column;
        //justify-content: space-evenly;
        //row-gap: 2rem;
        width: 320px;
        padding: 3rem;
    }